# تجاهل ملفات قاعدة البيانات
db.sqlite3

# تجاهل ملفات Python المؤقتة
__pycache__/
*.pyc
*.pyo
*.pyd

# تجاهل إعدادات البيئات الافتراضية
env/
venv/
.venv/

# تجاهل ملفات نظام التشغيل
.DS_Store
Thumbs.db
rest/

